<%- include('./partials/header') %>

<h1>My reading List</h1>
<h3>Whether you're reading for academic purposes or leisure, <style = font-family: fantasy> MY READING LIST </style> helps you stay organized'</h3>
<p>'Organize your novel, novella's, short stories and poems by genre.' <br> 'Make a folder for each 'genre' and add your literature to each folder.' <br> 'Take control, you can create, read, update and delete your lists!' </p>

<%- include('./partials/footer') %>