<!DOCTYPE html>
<html>
  <head>
    <title><%= Art by RoseSol %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= LLD Sketches by Rose %></h1>
    <p>Enjoy to my portfolio of <%= title %></p>
  </body>
</html>
