<%- include('../partials/header') %>

    <form action="/favorites/<%= favorite.id %>?_method=PUT" method="POST" autocomplete="off">
        <input type="text" name="name" value="<%= favorite.name %>">
        <button type="submit">Show new Favorites</button>
    </form>

<%- include('../partials/footer') %> 