<%- include('../partials/header') %>

<h2>Portfolio</h2>
<div class="portfolio-container">
    <% sketch.forEach(function(sketch) { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%= sketch.name %></h5>
                <a href="/sketch/<%= sketch.name %>" class="card-link">Detail Page</a>
            </div>
        </div>
    <% }); %>
</div>


<%- include('../partials/footer') %>